<<<<<<< HEAD
h2{
  text-align:center;
}

.form-control{
  width: 30%;
}

body{
  background-color:#c7e1f9;
  font-family:sans-serif;
}
ul{
  float:right;
  margin-right: 33%;
=======
.hidden{
  display: none;
}

img{
  height: 76px;
  width: 50px;
>>>>>>> exp
}
